<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="browse">Curates</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li><a ui-sref="browse">Browse</a></li>
      <li><a ui-sref="favorites">My Collections</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a ui-sref="signup">Sign up</a></li>
          <li><a ui-sref="signin">Sign in</a></li>
          <li><a ui-sref="account">Profile</a></li>
          <li><a href="">Signout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>