<form name="form" class="form-horizontal col-lg-6" ng-submit="vm.login(form)">
    <fieldset>
        <legend>Sign-In</legend>
        <div class="form-group">
          <label for="email" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input type="email"
                   name="email"
                   class="form-control"
                   id="email"
                   ng-model="vm.user.email"
                   placeholder="Email"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-lg-2 control-label">Password</label>
          <div class="col-lg-10">
            <input type="password"
                   name="password"
                   class="form-control"
                   id="password"
                   ng-model="vm.user.password"
                   placeholder="Password"
                   required>
          </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
            Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Please enter a valid email.
          </p>

          <p class="help-block">{{ vm.errors.other }}</p>
        </div>
    </fieldset>
</form>
<div class="col-lg-10 col-lg-offset-2">
  <button class="btn btn-primary btn-xs" ng-click="vm.loginOauth('facebook')">Sign in with Facebook</button>
  <button class="btn btn-danger btn-xs" ng-click="vm.loginOauth('google')">Sign in with Google</button>
</div>